<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="all">
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favourites">
        <ion-label>Favourites</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let val of arr">
        <ion-col size="6" size-sm="4" size-md="3" size-lg="2" size-xl="1">
          <ion-card [button]="true">
            <ion-img src="assets/icons/icon-128x128.png"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>Chili</ion-card-subtitle>
            </ion-card-header>

          </ion-card>
        </ion-col>
      </ng-container>

    </ion-row>
  </ion-grid>     <!--    <ion-item>-->
  <!--      <ion-label>Pokémon Yellow</ion-label>-->
  <!--    </ion-item>-->
  <!--    <ion-item>-->
  <!--      <ion-label>Mega Man X</ion-label>-->
  <!--    </ion-item>-->
  <!--    <ion-item>-->
  <!--      <ion-label>The Legend of Zelda</ion-label>-->
  <!--    </ion-item>-->
  <!--    <ion-item>-->
  <!--      <ion-label>Pac-Man</ion-label>-->
  <!--    </ion-item>-->
  <!--    <ion-item>-->
  <!--      <ion-label>Super Mario World</ion-label>-->
  <!--    </ion-item>-->
  <!--  </ion-list>-->

  <!--  &lt;!&ndash; List of Input Items &ndash;&gt;-->
  <!--  <ion-list>-->
  <!--    <ion-item>-->
  <!--      <ion-label>Input</ion-label>-->
  <!--      <ion-input></ion-input>-->
  <!--    </ion-item>-->
  <!--    <ion-item>-->
  <!--      <ion-label>Toggle</ion-label>-->
  <!--      <ion-toggle slot="end"></ion-toggle>-->
  <!--    </ion-item>-->
  <!--    <ion-item>-->
  <!--      <ion-label>Radio</ion-label>-->
  <!--      <ion-radio slot="end"></ion-radio>-->
  <!--    </ion-item>-->
  <!--    <ion-item>-->
  <!--      <ion-label>Checkbox</ion-label>-->
  <!--      <ion-checkbox slot="start"></ion-checkbox>-->
  <!--    </ion-item>-->
  <!--  </ion-list>-->

  <!--  &lt;!&ndash; List of Sliding Items &ndash;&gt;-->
  <!--  <ion-list>-->
  <!--    <ion-item-sliding>-->
  <!--      <ion-item>-->
  <!--        <ion-label>Item</ion-label>-->
  <!--      </ion-item>-->
  <!--      <ion-item-options side="end">-->
  <!--        <ion-item-option>Unread</ion-item-option>-->
  <!--      </ion-item-options>-->
  <!--    </ion-item-sliding>-->

  <!--    <ion-item-sliding>-->
  <!--      <ion-item>-->
  <!--        <ion-label>Item</ion-label>-->
  <!--      </ion-item>-->
  <!--      <ion-item-options side="end">-->
  <!--        <ion-item-option>Unread</ion-item-option>-->
  <!--      </ion-item-options>-->
  <!--    </ion-item-sliding>-->
  <!--  </ion-list>-->
</ion-content>
